<footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 mb-4 mb-md-0 text-center">
          <h5 class="mb-3">NutriPlan</h5>
          <p>Studio Nutrizionista</p>
          <p>P.IVA: 12345678901</p>
        </div>
        <div class="col-md-4 mb-4 mb-md-0 text-center">
          <h5 class="mb-3 ">Collegamenti Rapidi</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-transparent border-0">
              <a href="/" class="text-decoration-none">Home</a>
            </li>
            <li class="list-group-item bg-transparent border-0">
              <a href="/#chi-siamo" class="text-decoration-none">Chi Siamo</a>
            </li>
            <li class="list-group-item bg-transparent border-0">
              <a href="/recensioni" class="text-decoration-none">Recensioni</a>
            </li>
            <li class="list-group-item bg-transparent border-0">
              <a href="/#contatti" class="text-decoration-none">Contatti</a>
            </li>
            <li class="list-group-item bg-transparent border-0">
              <a href="/privacy" class="text-decoration-none">Privacy Policy</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 text-center">
          <h5 class="mb-3">Seguici</h5>
          <div class="d-flex gap-4 fs-1 justify-content-center">
            <a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.tiktok.com" target="_blank"><i class="fab fa-tiktok"></i></a>
            <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
      </div>
      <hr class="my-4">
      <p class="text-center mb-0">
        &copy; 2025 NutriPlan - Studio Nutrizionista. Tutti i diritti riservati.
      </p>
    </div>
  </footer>
